<app-navigation></app-navigation>

<section class="form6 cid-sgDmGvl36f" id="form6-i">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Register</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" >
                <form class="mbr-form form-with-styler mx-auto"  novalidate>
                    <input type="hidden"  value="CXdwvSLQD/vbxtG6jBUC7SIa0pMjl1Wuq7LgEm2WGGBQQQIbwSYiquG9/FBRZ26YSq6WarplbE3G6yBNh3LVh8oBqO3JN+7nz4vQs6n30ZE+T3t9+RMi6LuGQh1UtKDm">
                    <div class="">
                        <div hidden="hidden"  class="alert alert-success col-12">Thanks for filling
                            out the form!</div>
                        <div hidden="hidden" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" >
                            <input type="text" placeholder="First Name" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" class="form-control" value="" >
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" >
                            <input type="text" placeholder="Last Name" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" class="form-control" value="" >
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" >
                            <input type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" value="" >
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" value="" >
                        </div>
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" (click)="submit()" class="btn btn-primary display-4">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="contacts1 cid-sgDtCeYQbD" id="contacts1-p">
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Contact Us</strong>
            </h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="image-wrapper">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                        </div>
                        <h4 class="card-title mbr-fonts-style mb-2 display-2">
                            <strong>Email</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-2 display-4">
                            We will reply as soon as possible</p>
                        <h5 class="link mbr-fonts-style display-7"><a href="mailto:roberta.ciurdea99@e-uvt.ro" class="text-primary">Send us an
                                email</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="image-wrapper">
                            <span class="mbr-iconfont mobi-mbri-mobile-2 mobi-mbri"></span>
                        </div>
                        <h4 class="card-title mbr-fonts-style align-center mb-2 display-2">
                            <strong>Phone</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-2 display-4">
                            Mon - Fri 09:00 - 18:00</p>
                        <h5 class="link mbr-black mbr-fonts-style display-7">
                            <a href="tel:+12345678910" class="text-primary">Call (800) 123 45 67</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;">
    <a href="https://mobirise.site/z" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
    <p style="flex: 0 0 auto; margin:0; padding-right:1rem;">
        <a href="https://mobirise.site/t" style="color:#aaa;">Created</a> with Mobirise free web theme</p>
    </section>
    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/formstyler/jquery.formstyler.js"></script>
    <script src="assets/formstyler/jquery.formstyler.min.js"></script>
    <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
    <script src="assets/theme/js/script.js"></script>
    <script src="assets/formoid/formoid.min.js"></script>  
  
